.benefits {
    padding-top: 84px;
    padding-bottom: 84px;
    @include desktop {
        padding-top: 143px;
            padding-bottom: 137px;
    }
}

.benefits .container {
    padding-left: 31px;
    padding-right: 31px;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    // @include mobile {
    //     width: 100%;
    // }
    @include tablet {
        width: 100%;
    }
    @include desktop {
        flex-direction: row;
    }
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
   @include tablet {
    margin-left: 30vh;
    padding-right: 0;
   }
    @include desktop {
        margin-left: 0;
margin-right: 130px;
    }
}

.benefits-item {
    flex: none;
    // display: block;
    // box-sizing: border-box;
    width: 193px;
    height: 133px;
    background-color: var(--main-bg-color);
    padding: 20px 24px;
    @include tablet {
        width: 210px;
        height: 133px;
    }
    @include desktop {
        width: 170px;
            height: 133px;
    }
    &:nth-child(odd) {
            margin-right: 30px;
        }
    
    &:nth-child(even) {
            margin-top: 30px;
        }
}

.benefits-item-count {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
    display: block;
    &::after {
            content: '+';
            color: var(--accent-color);
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.38;
            vertical-align: top;
        }
}

.benefits-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: #303030;
}

.benefits-top-text {
    margin-bottom: var(--typical-margin);
    color: #303030;
}

.benefits-title {
    width: 100%;
    margin-bottom: var(--typical-margin);
    color: var(--second-title-color);
    @include tablet {
        width: 70%;
    }
    @include desktop {
        width: 100%;
    }
}

.benefits-bottom-text {
    color: #555555;
    font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.67;
        letter-spacing: 0.36px;
    @include tablet {
            width: 60%;
        }
    
        @include desktop {
            width: 100%;
        }
}