.footer-copy {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #9DA4BD;
}

.footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}