.header {
    position: absolute;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header .container {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__item:not(:last-child) {
    margin-right: 40px;
}

.header__logo {
    margin-right: 79px;
}

.nav__link,
.connect__tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    transition: color 300ms ease;
}

.nav__link:hover,
.nav__link:focus,
.connect__tel:hover,
.connect__tel:focus {
    color: var(--accent-color);
}

.nav__link.current {
    position: relative;
}

.nav__link.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ff6c00;
    border-radius: 2px;
    left: 0;
    bottom: -48px;
}

.connect {
    margin-left: auto;
}

.connect__btn {
    color: var(--main-btn-color);
    margin-left: 40px;
}