.hero .container {
    display: flex;
    width: 100%;
    padding: 0;
    @include tablet {
        width: 720px;
        padding-left: 15px;
        padding-right: 15px;
    }
        @include desktop {
            width: 1200px;
        }
}

.soc {
    width: 90px;
    display: none;
    align-items: flex-end;
    // padding-left: 22px;
    padding-bottom: 33px;
    @include tablet {
        display: flex;
    }
}

.soc__list {
    @include tablet {
        display: flex;
        align-items: center;
// @extend %align-list;
    transform: rotate(-90deg) translate(-35px);
    transform-origin: top left;
    padding-left: 0;
    padding-top: 15px;
    &::before {
        content: '';
        width: 60px;
        height: 1px;
        background-color: var(--second-title-color);
        margin-right: 40px;
    }
    }    
}

.soc__item+.soc__item {
    margin-left: 40px;
}

.soc__link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
    transition: color 300ms ease;
    &:hover,
    &:focus {
        color: var(--accent-color);
        }
}

.hero-content {
    background-color: #303030;
    background-image: linear-gradient(rgba(25, 28, 38, 0.20), rgba(25, 28, 38, 0.20)), url(../images/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // padding: 272px 96px 206px 96px;
    padding: 208px 31px 183px;
    flex-grow: 1;
    @include retina {
        background-image: linear-gradient(rgba(25, 28, 38, 0.20), rgba(25, 28, 38, 0.20)), url(../images/hero-bg-mob-2x.jpg);
    }
    @include tablet {
        padding: 280px 70px 234px;
        background-image: linear-gradient(rgba(25, 28, 38, 0.20), rgba(25, 28, 38, 0.20)), url(../images/hero-bg-tab.jpg);
        @include retina {
                background-image: linear-gradient(rgba(25, 28, 38, 0.20), rgba(25, 28, 38, 0.20)), url(../images/hero-bg-tab-2x.jpg);
            }
    }
        @include desktop {
            padding: 272px 96px 206px 96px;
            background-image: linear-gradient(rgba(25, 28, 38, 0.20), rgba(25, 28, 38, 0.20)), url(../images/hero-bg.jpg);
            @include retina{
                    background-image: linear-gradient(rgba(25, 28, 38, 0.20), rgba(25, 28, 38, 0.20)), url(../images/hero-bg-2x.jpg);
                }
        }
}

.hero-content__top-text {
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: var(--typical-margin);
}

.hero-content__title {
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    margin-bottom: var(--typical-margin);
    display: flex;
    align-items: baseline;
    @extend %align-list;
}

/* .hero-content__title::before {
        content: "";
        width: 40px;
        height: 40px;
        background-color: #FFFFFF;
        border-radius: 50%;
    }
    
    .hero-content__title::after {
        content: '';
        background-image: url(../images/Logo.svg);
        width: 50px;
        height: 50px;
        background-color: #ff6c00;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
}

*/
.hero-content__bottom-text {
    color: #9DA4BD;
    max-width: 306px;
    @include tablet {
        max-width: 349px;
    }
    @include desktop {
        max-width: 400px;
    }
}