.hero .container {
    display: flex;
}

.soc {
    width: 90px;
    display: flex;
    align-items: flex-end;
    padding-left: 22px;
    padding-bottom: 33px;
}

.soc__list {
    display: flex;
    transform: rotate(-90deg) translate(-35px);
    transform-origin: top left;
    align-items: center;
    padding-left: 0;
}

.soc__list::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--second-title-color);
    margin-right: 40px;
}

.soc__item+.soc__item {
    margin-left: 40px;
}

.soc__link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
    transition: color 300ms ease;
}

.soc__link:hover,
.soc__link:focus {
    color: var(--accent-color);
}

.hero-content {
    background-color: #303030;
    background-image: linear-gradient(rgba(25, 28, 38, 0.20), rgba(25, 28, 38, 0.20)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 272px 96px 206px 96px;
    flex-grow: 1;
}

.hero-content__top-text {
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: var(--typical-margin);
}

.hero-content__title {
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    margin-bottom: var(--typical-margin);
    display: flex;
    align-items: baseline;
}

/* .hero-content__title::before {
        content: "";
        width: 40px;
        height: 40px;
        background-color: #FFFFFF;
        border-radius: 50%;
    }
    
    .hero-content__title::after {
        content: '';
        background-image: url(../images/Logo.svg);
        width: 50px;
        height: 50px;
        background-color: #ff6c00;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
}

*/
.hero-content__bottom-text {
    color: #9DA4BD;
    max-width: 400px;
}