.prices {
    background-color: #111319;
    background-image: url(../images/prices-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 130px;
}

.prices-top-text {
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: var(--typical-margin);
}

.prices-title {
    color: var(--main-title-color);
    margin-bottom: 44px;
}

.prices-wrap {
    display: flex;
}

.prices-list {
    padding: 30px 40px;
    flex-grow: 1;
}

.prices-list-light {
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.20) 100%);
}

.prices-list-dark {
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.20) 100%);
}

.prices-item-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.prices-item-text:first-child {
    order: -1;
}

.prices-item {
    margin-bottom: var(--typical-margin);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.prices-item::before {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
    margin-left: 6px;
    margin-right: 6px;
}

.prices-item:last-child {
    margin-bottom: 0;
}

.prices-btn {
    display: block;
    color: var(--main-btn-color);
    margin: 0 auto;
    margin-top: 50px;
}