.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 31px;
    padding-right: 31px;
    /* outline: 1px solid red; */

    @include mobile {
        width: 448px;
    }
   @include tablet {
       width: 720px;
        padding-left: 15px;
            padding-right: 15px;
   }
     @include desktop {
            width: 1200px;
            padding-left: 15px;
                padding-right: 15px;
        }
}