.socials {
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.socials__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    &:last-child {
            margin-right: 0;
        }
}

.socials__link {
    width: 100%;
    height: 100%;
    background-color: var(--main-btn-color);
    border-radius: 50%;
    @extend %align-list;
    justify-content: center;
    color: var(--second-btn-color);
    &:hover, &:focus {
            background-color: var(--accent-color);
            color: var(--main-btn-color);
        }
}

.socials__icon {
    fill: currentColor;
}

// Універсальний спосіб, не тільки для кольору і для іконок, але й для розміру, анімації, бекграунду...

//     .socials__link:hover .socials__icon,
//     .socials__link:focus .socials__icon {
//         fill: chocolate;
//     }
    
//     .socials__link:hover,
//     .socials__link:focus {
//         background-color: teal;
// }